<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiveDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>493B051A1DFC4E7F00EDC33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493B05331DFC4E8000EDC33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493B053E1DFC4E8000EDC33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
